* {
  margin: 0px;
  padding: 0px;
}
/* PARA QUE DETECTE EL TAMA;O DE LO QUE HAY DENTRO  */
.clearfix {
  float: none;
  clear: both;
}

#container {
  width: 70%;
  background-color: red;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

header {
  width: 100%;
  background: lightblue;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

aside {
  width: 25%;
  background-color: greenyellow;
  float: left;
  min-height: 700px;
  text-align: center;
  line-height: 700px;
}

#articles {
  width: 75%;
  min-height: 700px;
  float: left;
  background-color: lemonchiffon;
}
#articles article {
  width: 25%;
  height: 150px;
  color: white;
  background-color: rgb(29, 99, 99);
  line-height: 150px;
  text-align: center;
  border: 2px solid white;
  float: left;
  margin: 15px;
}

/* RESPONSIVE */
/* desde 0 a 632  */
@media (max-width: 632px) {
  #articles article {
    width: 90%;
    background: blue;
  }
}
/* desde 0 888 */
@media (max-width: 888px) {
  #articles article {
    width: 40%;
    background: red;
  }
}
